* {
  box-sizing: border-box;
}
/* mixins */

@mixin bp($point) {
  @if $point == fullhd {
    @media (min-width: 1500px) { @content; }
  }
  @else if $point == extralarge {
    @media (max-width: 1199px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 991px) { @content; }
  }
  @else if $point == extralarge {
    @media (max-width: 1200px) and (min-width: 992px) {
      @content;
    }
  }
  @else if $point == extramedium {
    @media (max-width: 991px) and (min-width: 768px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 767px)  { @content; }
  }
  @else if $point == small {
    @media (max-width: 576px)  { @content; }
  }
}


/* end of mixins */
body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}

.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
}

ul {
  margin: 0;
  list-style: none;
}

.flex {
  display: flex;
  flex-flow: wrap;
  &.space-between {
    justify-content: space-between;
    align-items: center;
  }
}

.column {
  flex: 1;
  @include bp(medium) {
    width: 100%;
    min-width: 100%;
    margin-left: 0!important;
  }
}